<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <div v-if="show" v-bind:title="title">
            {{ message }}
        </div>
        <input v-model="newTask" type="text">
        <button v-on:click="tasks.push(newTask); newTask=''">Add new task</button>
        <ul>
            <task-item 
                v-for="task in tasks" 
                v-bind:t="task"
                v-on:click.native="deleteItem(task)" 
            />
        </ul>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script>
        Vue.component('task-item', {
            template: `<li>{{ t }}</li>`,
            props: ['t'],
            beforeDestroy () {
                console.log("O'chishdan oldin");
            },
            destroyed () {
                console.log("O'chgandan so'ng");
            }
        })

        const vm = new Vue({
            el: '#app',
            data: {
                message: "Hello Vue",
                title: "Title from Vue",
                show: true,
                tasks: [
                    "Uhlash",
                    "Yana uhlash",
                    "Ovqatlanish",
                    "Uhlash jinde yana"
                ],
                newTask: ""
            },
            methods: {
                deleteItem (task) {
                    const index = this.tasks.findIndex(t => t === task);
                    this.tasks.splice(index, 1)
                }
            },
            beforeCreate () {
              console.log("1. Yasalyabdi");  
            },
            created () {
                console.log("2. Yasaldi");
            },
            beforeMount () {
                console.log("3. Hali mount bo'madi");
            },
            mounted () {
                console.log("4. Mount bo'ldi yani boshqaruv qo'limizda");
            },
            // beforeUpdate () {
            //     console.log("O'zgarish bo'lishdan oldin");
            // },
            // updated () {
            //     console.log("O'zgarish bo'ldi");
            // }
        })
    </script>
</body>

</html>